<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apiservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_rikck_and_morty"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_rikck_and_morty_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".common.search.SuggestionSearchPerson"
            android:authorities="com.example.apiservice.common.search.SuggestionSearchPerson"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.search_temp"
                android:resource="@xml/search_temp" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>